@page "/"
@page "/payments"
@page "/payments/{Month}/{Year}"





@if(IsAll)
{
    <div class="alert-warning p-3 m-3">Displaying ALL entries</div>
}
else
{
    <div class="alert-success p-3 m-3">Displaying Filtered entries</div>
}

<MonthYearSelector ReturnURL="/payments" />

<div class="rounded" >
    <table class="table table-sm">
        <thead>
            <tr>
                <td></td>
                <td hidden>Id</td>
                <td>Date</td>
                <td>Note</td>
                <td></td>
            </tr>
        </thead>

        <tbody>
                @foreach(var item in PaymentItems)
                {
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td><button title="Delete Payment" class="btn btn-danger btn-sm" @onclick="() => DeleteDocument(item)"><i class="fa-solid fa-trash-can"></i></button></td>
                                    @*<td><button title="Edit Payment" class="btn btn-primary btn-sm" @onclick="() => EditDocument(item)"><i class="fa-solid fa-pen-to-square"></i></button></td>*@
                                </tr>
                            </table>
                        </td>
                        <td hidden>@item.PaymentItemId</td>
                        <td >@item.CreateDate.ToString("M-dd-yy")</td>
                        <td class="max-width-200">@item.Note</td>

                        <td>
                            <table class="table table-striped table-light table-sm ">
                                <thead>
                                    @if(item.Payees.Count > 0)
                                    {
                                        <tr>
                                            <td class="col-6">Payee</td>
                                            <td>Date</td>
                                            <td>Amount</td>
                                        </tr>
                                    }
                                </thead>
                                <tbody>
                                    @foreach(var payee in item.Payees)
                                    {
                                        <tr>
                                            <td>@payee.Name</td>
                                            <td>@payee.Date.ToString("M-dd-yy")</td>
                                            <td>$@payee.AmountFormatted</td>
                                        </tr>
                                    }
                                @if (item.Payees.Count > 0)
                                {
                                    <tr>
                                        <td colspan="2"></td>
                                        <td><b>$@item.Payees.Sum(x => x.Amount).ToString("0.00")</b></td>
                                    </tr>
                                }
                            </tbody>
                            </table>
                        </td>
                    </tr>
                }
        </tbody>

    </table>
</div>


