@page "/payments"


Displaying Payments for current month/year
<PaymentsMonthYearSelector />

<div class="rounded" >
    <table class="table table-sm">
        <thead>
            <tr>
                <td hidden>Id</td>
                <td>Date</td>
                <td>Note</td>
                <td></td>
            </tr>
        </thead>

        <tbody>
                @foreach(var item in PaymentItems)
                {
                    <tr>
                        <td hidden>@item.PaymentItemId</td>
                        <td >@item.CreateDate.ToString("MMM-dd-yyyy")</td>
                        <td>@item.Note</td>

                        <td>
                            <table class="table table-striped table-light table-sm ">
                                <thead>
                                    @if(item.Payees.Count > 0)
                                    {
                                        <tr>
                                            <td class="col-6">Payee</td>
                                            <td>Date</td>
                                            <td>Amount</td>
                                        </tr>
                                    }
                                </thead>
                                <tbody>
                                    @foreach(var payee in item.Payees)
                                    {
                                        <tr>
                                            <td>@payee.Name</td>
                                            <td>@payee.Date.ToString("MMM-dd-yyyy")</td>
                                            <td>@payee.Amount</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </td>
                    </tr>
                }
        </tbody>

    </table>
</div>


