@page "/payments"
@page "/payments/{Month}/{Year}"
@*<div class="alert-success p-3 m-3">Displaying Filtered entries</div>*@

<MonthYearSelector ReturnURL="/payments" />

<button title="Insert Payment" class="btn btn-primary btn-sm m-2" @onclick="() => NavToPayments()"><i class="fa-solid fa-pen-to-square"></i>Insert Payment</button>

<div class="rounded" >
    <table class="table table-sm">
        <thead>
            <tr>
                <td style="width:100px"></td>
                <td hidden>Id</td>
                <td class="text-nowrap" style="width:100px">Date</td>
                <td >Note</td>
                <td></td>
            </tr>
        </thead>

        <tbody>
                @foreach(var item in PaymentItems)
                {
                    <tr>
                        <td >
                            <table>
                                <tr>
                                    <td><button title="Delete Payment" class="btn btn-danger btn-sm" @onclick="() => DeleteDocument(item)"><i class="fa-solid fa-trash-can"></i></button></td>
                                    <td><button title="Edit Payment" class="btn btn-primary btn-sm" @onclick="() => EditDocument(item)"><i class="fa-solid fa-pen-to-square"></i></button></td>
                                </tr>
                            </table>
                        </td>
                        <td hidden>@item.PaymentItemId</td>
                        <td class="text-nowrap" style="width:100px">@item.CreateDate.ToString("M-dd-yy")</td>
                        <td style="width:600px">@item.Note</td>

                        <td style="width:600px">
                            <table class="table table-striped table-light table-sm ">
                                <thead>
                                    @if(item.Payees.Count > 0)
                                    {
                                        <tr>
                                            <td hidden>Id</td>
                                            <td class="col-6">Payee</td>
                                            <td>Date</td>
                                            <td>Amount</td>
                                        </tr>
                                    }
                                </thead>
                                <tbody>
                                    @foreach(var payee in item.Payees)
                                    {
                                        <tr>
                                            <td hidden>@payee.PayeeId</td>
                                            <td>@payee.Name</td>
                                            <td>@payee.Date.ToString("M-dd-yy")</td>
                                            <td>$@payee.AmountFormatted</td>
                                        </tr>
                                    }
                                @if (item.Payees.Count > 0)
                                {
                                    <tr>
                                        <td colspan="2"></td>
                                        <td><b>$@item.Payees.Sum(x => x.Amount).ToString("0.00")</b></td>
                                    </tr>
                                }
                            </tbody>
                            </table>
                        </td>
                    </tr>
                }
        </tbody>

    </table>
</div>


