@page "/budget/print/{BudgetId}"
@layout NoLayout

<div class="edge-padding">
    <MudLink OnClick="NavigateToBudget">Back to Budget</MudLink>    
    <div style="margin-bottom: 30px;">
        <h1>Financial Summary</h1>
        <MudTable Items="@SummaryItems" Dense="true" Hover="true" Bordered="false" Striped="true" Style="max-width: 400px;">
            <HeaderContent>
                <MudTh Class="Mud-Table-Header ">Item</MudTh>
                <MudTh Class="Mud-Table-Header ">Amount</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Title</MudTd>
                <MudTd>@context.Value</MudTd>
            </RowTemplate>
        </MudTable>
    </div>

    <div style="margin-bottom: 30px;">
        <h1>Income</h1>
        <MudTable Items="@Budget.Incomes" Dense="true" Hover="true" Striped="true" Style="max-width: 400px;">
            <HeaderContent>
                <MudTh Class="Mud-Table-Header ">Employer</MudTh>
                <MudTh Class="Mud-Table-Header ">Amount</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Employer</MudTd>
                <MudTd>@context.Amount</MudTd>
            </RowTemplate>
        </MudTable>
    </div>

    <div style="margin-bottom: 30px;">
        <h1>Expenses</h1>
        <MudTable Items="@Budget.Expenses" Dense="true" Hover="true" Striped="true" Style="max-width: 1200px;">
            <HeaderContent>
                <MudTh Class="Mud-Table-Header ">Bill</MudTh>
                <MudTh Class="Mud-Table-Header ">Amount</MudTh>
                <MudTh Class="Mud-Table-Header ">PaidTo</MudTh>
                <MudTh Class="Mud-Table-Header ">PaidBy</MudTh>
                <MudTh Class="Mud-Table-Header ">Est.Due Date</MudTh>
                <MudTh Class="Mud-Table-Header ">Note</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.BillName</MudTd>
                <MudTd>@context.Amount</MudTd>
                <MudTd>@context.PaidTo</MudTd>
                <MudTd>@context.PaidBy</MudTd>
                <MudTd>@context.EstimatedDueDay</MudTd>
                <MudTd>@context.Note</MudTd>
            </RowTemplate>
        </MudTable>
    </div>

    <div style="margin-bottom: 30px;">
        <h1>Bank Accounts</h1>
        <MudTable Items="@Budget.BankAccounts" Dense="true" Hover="true" Striped="true" Style="max-width: 600px;">
            <HeaderContent>
                <MudTh Class="Mud-Table-Header ">Bank</MudTh>
                <MudTh Class="Mud-Table-Header ">Type</MudTh>
                <MudTh Class="Mud-Table-Header ">Account</MudTh>
                <MudTh Class="Mud-Table-Header ">Description</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Bank</MudTd>
                <MudTd>@context.Type</MudTd>
                <MudTd>@context.AccountNumber</MudTd>
                <MudTd>@context.Description</MudTd>
            </RowTemplate>
        </MudTable>
    </div>

    <div style="margin-bottom: 30px;">
        <h1>Cards</h1>
        <MudTable Items="Budget.CreditCards" Dense="true" Hover="true" triped="true" Style="max-width: 800px;">
            <HeaderContent>
                <MudTh Class="Mud-Table-Header ">Holder</MudTh>
                <MudTh Class="Mud-Table-Header ">Account</MudTh>
                <MudTh Class="Mud-Table-Header ">Bank</MudTh>
                <MudTh Class="Mud-Table-Header ">Acct-Attached</MudTh>
                <MudTh Class="Mud-Table-Header ">Description</MudTh>
                <MudTh Class="Mud-Table-Header ">IsDebt</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd>@context.Holder</MudTd>
                <MudTd>@context.AccountNumber</MudTd>
                <MudTd>@context.Bank</MudTd>
                <MudTd>@context.AttachedTo</MudTd>
                <MudTd>@context.Description</MudTd>
                <MudTd>@context.IsDebt</MudTd>
            </RowTemplate>
        </MudTable>
    </div>

    <h1>Online Services</h1>
    <MudTable Items="@Budget.OnlineServices" Dense="true" Hover="true" Striped="true" Style="max-width: 400px;">
        <HeaderContent>
            <MudTh Class="Mud-Table-Header ">Service</MudTh>
            <MudTh Class="Mud-Table-Header ">PaidTo</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Service</MudTd>
            <MudTd>@context.PaidTo</MudTd>
        </RowTemplate>
    </MudTable>

</div>
