@page "/budgets"


<div class="alert p-3 m-3 rounded">
        <div class="row">
            <div class="col-2">
                <h2>Budgets</h2>
            </div>
            
            <div class="col-10">
                <button type="button" class="btn btn-primary btn-sm m-2" @onclick="() => CreateNewBudget()">Create New Budget</button>
            </div>
        </div>
    </div>


<div class="alert p-3 m-3 rounded" >
    <table class="table table-sm">
        <thead>
            <tr>
                <td></td>
                <td>Name</td>
                <td>DTI</td>
                <td>Expense Debt</td>
                <td>Income Total</td>
                <td>Expenses</td>
                <td>Income</td>
                <td>Bank Accounts</td>
                <td>Credit Cards</td>
                <td>Online Services</td>
                <td></td>

            </tr>
        </thead>

        <tbody>
                @foreach(var item in BudgetList)
                {
                    <tr>
                        <td><button type="button" title="View Budget" class="btn btn-success btn-sm" @onclick="() => ViewBudget(item.BudgetId)"><i class="fa-solid fa-pen-to-square"></i></button></td>
                        <td >@item.Name</td>
                        <td >@(FormatPercent(item.Debt_Income_Ratio))%</td>
                        <td>$@(FormatMoney(item.TotalMonthlyExpenses))</td>
                        <td>$@(FormatMoney(item.TotalMonthlyIncomes))</td>
                        <td >@item.Expenses.Count</td>
                        <td >@item.Incomes.Count</td>
                        <td >@item.BankAccounts.Count</td>
                        <td >@item.CreditCards.Count</td>
                        <td >@item.OnlineServices.Count</td>
                        <td><button type="button" title="Delete Expense" class="btn btn-danger btn-sm" @onclick="() => DeleteBudget(item.BudgetId)"><i class="fa-solid fa-trash-can"></i></button></td>
                    </tr>
                }
        </tbody>
    </table>
</div>
