@page "/"
@page "/budgets"

<div class="pa-5 ma-2 infobox">
    <MudSimpleTable Class="bg-trans" Outlined="false" Elevation="0">
        <tr>
            <td><MudText Typo="Typo.h5" Class="textsilver">Budgets</MudText></td>
            <td class="float-end"><MudButton Variant="Variant.Text" OnClick="() => CreateNewBudget()" StartIcon="@Icons.Filled.Payment" Color="Color.Primary">Create New Budget</MudButton></td>
        </tr>
    </MudSimpleTable>
</div>

<div class="pa-5 ma-2 infobox">
    <MudSimpleTable Class="bg-trans" Outlined="false" Elevation="0">
        <thead>
            <tr>
                <td></td>
                <td>Name</td>
                <td>DTI</td>
                <td>Expense Debt</td>
                <td>Income Total</td>
                <td>Expenses</td>
                <td>Income</td>
                <td>Bank Accounts</td>
                <td>Credit Cards</td>
                <td>Online Services</td>
                <td></td>

            </tr>
        </thead>

        <tbody>
            @foreach (var item in BudgetList)
            {
                <tr>
                    <td><MudIconButton Icon="@Icons.Filled.RemoveRedEye" aria-label="delete" Color="Color.Success" OnClick="() => ViewBudget(item.BudgetId)"></MudIconButton></td>
                    <td>@item.Name</td>
                    <td>@(FormatPercent(item.Debt_Income_Ratio))%</td>
                    <td>@(FormatMoney(item.TotalMonthlyExpenses))</td>
                    <td>@(FormatMoney(item.TotalMonthlyIncomes))</td>
                    <td>@item.Expenses.Count</td>
                    <td>@item.Incomes.Count</td>
                    <td>@item.BankAccounts.Count</td>
                    <td>@item.CreditCards.Count</td>
                    <td>@item.OnlineServices.Count</td>
                    <td><MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Color="Color.Error" OnClick="() => DeleteBudget(item.BudgetId)"></MudIconButton></td>
                </tr>
            }
        </tbody>
    </MudSimpleTable>
</div>

