@page "/budget/view"
@page "/budget/view/{BudgetId}"


<EditForm Model="Budget" OnValidSubmit="HandleSubmit">

    <MudPaper Width="100%" Square="false" Class="pa-5 ma-2 infobox" Outlined="true">
        <MudText Typo="Typo.h4" Color="Color.Error">@Message</MudText>
        <MudSimpleTable Class="bg-trans" Outlined="false" Elevation="0">
            <tr>
                <td><MudText Typo="Typo.h5" Class="textsilver">Monthly Budget</MudText></td>
                <td class="float-end"><MudButton Variant="Variant.Filled" OnClick="() => NavigateToPayments(Budget.BudgetId)" StartIcon="@Icons.Filled.Payment" Color="Color.Success">Payments</MudButton></td>
            </tr>
        </MudSimpleTable>
        <MudSwitch @bind-Checked="@EditMode" Label="Edit Mode" Color="Color.Success" />
    </MudPaper>


    <MudPaper Width="100%" Square="false" Class="pa-5 ma-2 infobox" Outlined="true">
        <MudSimpleTable Class="bg-trans" Outlined="false" Elevation="0">
            <tr>
                <td><MudTextField Disabled="Disabled" @bind-Value="Budget.Name" Label="Budget Name" Variant="Variant.Text" /></td>
                <td><MudTextField Disabled="Disabled" @bind-Value="Budget.AnnualSalary" Label="Anual Salary" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney" /></td>
                <td><MudField Label="Monthly Gross" Variant="Variant.Text" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.AttachMoney">@(FormatMoney(Budget.AnnualSalary / 12))</MudField></td>
                <td class="float-end"><MudButton StartIcon="@Icons.Material.Filled.Delete" Disabled="Disabled" OnClick="() => DeleteBudget(Budget.BudgetId)" Variant="Variant.Text" Color="Color.Error">Delete Budget</MudButton></td>
            </tr>
        </MudSimpleTable>
    </MudPaper>

    <MudGrid Spacing="1" Justify="Justify.Center">
        <MudItem>
            <MudPaper Height="350px" Width="350px" Class="infobox" Style="border: 1px solid black;">
                <MudPaper Class="card-header" Height="40px">Financial Summary</MudPaper>
                <MudStack>
                    <MudPaper Class="pa-3 bg-trans" Elevation="0">
                        <MudText Align="Align.Start" Typo="Typo.h6">Monthly</MudText>
                        <MudPaper Class="d-flex justify-center bg-trans" Elevation="0">
                            <table>
                                <tr>
                                    <td class="p-1 text-end">Total Expense:</td>
                                    <td class="red_text">@Budget.TotalMonthlyExpenses.ToString("C")</td>
                                </tr>
                                <tr>
                                    <td class="p-1 text-end">Total Income:</td>
                                    <td class="green_text">@Budget.TotalMonthlyIncomes.ToString("C")</td>
                                </tr>
                                <tr>
                                    <td class="p-1 text-end">Difference:</td>
                                    <td>@(FormatMoney(Budget.TotalMonthlyIncomes - Budget.TotalMonthlyExpenses))</td>
                                </tr>
                            </table>
                        </MudPaper>
                    </MudPaper>
                    <MudPaper Class="pa-3 bg-trans" Elevation="0">
                        <MudText Align="Align.Start" Typo="Typo.h6">Yearly</MudText>
                        <MudPaper Class="d-flex justify-center bg-trans" Elevation="0">
                            <MudSimpleTable Class="bg-trans" Outlined="false" Elevation="0" Dense="true" Hover="true" Bordered="true">
                                <tr>
                                    <td class="p-1 text-end">Total Expense:</td>
                                    <td class="red_text">@Budget.TotalYearlyExpenses.ToString("C")</td>
                                </tr>
                                <tr>
                                    <td class="p-1 text-end">Total Income:</td>
                                    <td class="green_text">@Budget.TotalYearlyIncomes.ToString("C")</td>
                                </tr>
                                <tr>
                                    <td class="p-1 text-end">Difference:</td>
                                    <td>@FormatMoney((Budget.TotalYearlyIncomes - Budget.TotalYearlyExpenses))</td>
                                </tr>
                            </MudSimpleTable>
                        </MudPaper>
                    </MudPaper>
                </MudStack>
            </MudPaper>
        </MudItem>
        <MudItem>
            <MudPaper Height="350px" Width="350px" Class="infobox" Style="border: 1px solid black;">
                <MudPaper Class="card-header" Height="40px">Expenses By Account</MudPaper>
                <MudPaper Class="pa-3 bg-trans" Elevation="0">
                    @{
                        var payGroups = Budget.GetExpensePayGroups();
                        if (payGroups.Count > 0)
                        {
                            <MudSimpleTable Class="bg-trans" Outlined="false" Elevation="0" Dense="true" Hover="true" Bordered="true">
                                <thead>
                                    <tr>
                                        <td>Account</td>
                                        <td>Sum</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in payGroups)
                                    {
                                        <tr>
                                            <td>@item.Account</td>
                                            <td class="red_text">@item.Sum.ToString("C")</td>
                                        </tr>
                                    }

                                </tbody>
                            </MudSimpleTable>
                        }
                    }
                </MudPaper>
            </MudPaper>
        </MudItem>
        <MudItem>
            <MudPaper Height="350px" Width="350px" Class="infobox" Style="border: 1px solid black;">
                <MudPaper Class="card-header" Height="40px">Financial Stats</MudPaper>
                <MudPaper Class="pa-3 bg-trans" Elevation="0">
                    <MudSimpleTable Class="bg-trans" Outlined="false" Elevation="0" Dense="true" Hover="true" Bordered="true">
                        <tr>
                            <td class="p-1 text-end">Half Monthly Expenses:</td>
                            <td class="blue_text">@(FormatMoney(Budget.TotalMonthlyExpenses / 2))</td>
                        </tr>
                        <tr>
                            <td class="p-1 text-end">Debt-To-Income Ratio:</td>
                            <td title="Monthy Expenses / (Annual Income / 12) * 100" class="blue_text">@(FormatPercent(Budget.Debt_Income_Ratio))%</td>
                        </tr>
                        <tr>
                            <td class="p-1 text-end">Yearly Witholdings:</td>
                            <td title="Annual Salary - Yearly Income" class="blue_text">@(Budget.YearlyWitholdings.ToString("C"))</td>
                        </tr>
                    </MudSimpleTable>
                </MudPaper>
            </MudPaper>
        </MudItem>
    </MudGrid>


    <MudPaper Width="100%" Square="false" Class="pa-5 ma-2 infobox" Outlined="true">
        <MudField Variant="Variant.Text">Monthy Expenses</MudField>
        <MudSimpleTable Class="bg-trans" Dense="true" Outlined="false" Elevation="0">
                <thead>
                    <tr>
                        <td></td>
                        <td>Bill Name</td>
                        <td>Paid To</td>
                        <td>Paid By Acct</td>
                        <td>Amount</td>
                        <td>Note</td>
                        <td>Est. Due Day</td>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Budget.Expenses)
                {
                    <tr>
                        <td><MudIconButton Disabled="Disabled" Icon="@Icons.Material.Filled.Delete" aria-label="delete" Color="Color.Error" OnClick="() => DeleteExpense(item)"></MudIconButton></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.BillName" Variant="Variant.Text" /></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.PaidTo" Variant="Variant.Text" /></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.PaidBy" Variant="Variant.Text" /></td>
                        <td><MudNumericField Disabled="Disabled" HideSpinButtons="true" @bind-Value="item.Amount" Variant="Variant.Text" /></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.Note" Variant="Variant.Text" /></td>
                        <td><MudNumericField Disabled="Disabled" HideSpinButtons="true" @bind-Value="item.EstimatedDueDay" Variant="Variant.Text" /></td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
        <MudButton Variant="Variant.Text" OnClick="() => AddExpense()" Disabled="Disabled" Color="Color.Primary">Add Expense</MudButton>
    </MudPaper>


    <MudPaper Width="100%" Square="false" Class="pa-5 ma-2 infobox" Outlined="true">
        <MudField Variant="Variant.Text">Monthy Income</MudField>
        <MudSimpleTable Class="bg-trans" Dense="true" Outlined="false" Elevation="0">
            <thead>
                <tr>
                    <td></td>
                    <td>Employer</td>
                    <td>Type</td> @*like payroll*@
                    <td>Amount</td>

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Budget.Incomes)
                {
                    <tr>
                        <td><MudIconButton Disabled="Disabled" Icon="@Icons.Material.Filled.Delete" aria-label="delete" Color="Color.Error" OnClick="() => DeleteIncome(item)"></MudIconButton></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.Employer" Variant="Variant.Text" /></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.Type" Variant="Variant.Text" /></td>
                        <td><MudNumericField Disabled="Disabled" HideSpinButtons="true" @bind-Value="item.Amount" Variant="Variant.Text" /></td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
        <MudButton Variant="Variant.Text" OnClick="() => AddIncome()" Disabled="Disabled" Color="Color.Primary">Add Income</MudButton>
    </MudPaper>
    

    <MudPaper Width="100%" Square="false" Class="pa-5 ma-2 infobox" Outlined="true">
        <MudField Variant="Variant.Text">Bank Accounts</MudField>
        <MudSimpleTable Class="bg-trans" Dense="true" Outlined="false" Elevation="0">
            <thead>
                <tr>
                    <td></td>
                    <td>Bank</td>
                    <td>Type</td> @*like checking savings*@
                    <td>Acct</td>
                    <td>Description</td> @*bills, direct deposit, land*@

                </tr>
            </thead>

            <tbody>
                @foreach (var item in Budget.BankAccounts)
                {
                    <tr>
                        <td><MudIconButton Disabled="Disabled" Icon="@Icons.Material.Filled.Delete" aria-label="delete" Color="Color.Error" OnClick="() => DeleteBankAccount(item)"></MudIconButton></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.Bank" Variant="Variant.Text" /></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.Type" Variant="Variant.Text" /></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.AccountNumber" Variant="Variant.Text" /></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.Description" Variant="Variant.Text" /></td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
        <MudButton Variant="Variant.Text" OnClick="() => AddBankAccount()" Disabled="Disabled" Color="Color.Primary">Add Bank Account</MudButton>
    </MudPaper>


    <MudPaper Width="100%" Square="false" Class="pa-5 ma-2 infobox" Outlined="true">
        <MudField Variant="Variant.Text">Cards</MudField>
        <MudSimpleTable Class="bg-trans" Dense="true" Outlined="false" Elevation="0">
            <thead>
                <tr>
                    <td></td>
                    <td>Holder</td>  @*visa, mc*@
                    <td>Acct</td>
                    <td>Bank</td>
                    <td>AcctAttached</td>
                    <td>Description</td> @*bills, direct deposit, land*@
                    <td>Debt?</td>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Budget.CreditCards)
                {
                    <tr>
                        <td><MudIconButton Disabled="Disabled" Icon="@Icons.Material.Filled.Delete" aria-label="delete" Color="Color.Error" OnClick="() => DeleteCreditCard(item)"></MudIconButton></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.Holder" Variant="Variant.Text" /></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.AccountNumber" Variant="Variant.Text" /></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.Bank" Variant="Variant.Text" /></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.AttachedTo" Variant="Variant.Text" /></td>
                        <td><MudTextField Disabled="Disabled" @bind-Value="item.Description" Variant="Variant.Text" /></td>
                        <td><MudCheckBox Disabled="Disabled" Label="Debt" @bind-Checked="@item.IsDebt" Color="Color.Primary"></MudCheckBox></td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
        <MudButton Variant="Variant.Text" OnClick="() => AddCreditCard()" Disabled="Disabled" Color="Color.Primary">Add Card</MudButton>
    </MudPaper>

    <MudPaper Width="100%" Square="false" Class="pa-5 ma-2 infobox" Outlined="true">
        <MudField Variant="Variant.Text">Online Services</MudField>
        <MudSimpleTable Class="bg-trans" Dense="true" Outlined="false" Elevation="0">
            <thead>
                    <tr>
                        <td>&nbsp</td>
                        <td>Service</td>  @*paypal, venmo*@
                        <td>PaidTo</td>  @*acct number charge with this service*@
                    </tr>
                </thead>
                <tbody>
                        @foreach(var item in Budget.OnlineServices)
                        {
                            <tr>
                                <td><MudIconButton Disabled="Disabled" Icon="@Icons.Material.Filled.Delete" aria-label="delete" Color="Color.Error" OnClick="() => DeleteOnlineService(item)"></MudIconButton></td>
                                <td><MudTextField Disabled="Disabled" @bind-Value="item.Service" Variant="Variant.Text" /></td>
                                <td><MudTextField title="Expecting Last-4 of Account" Disabled="Disabled" @bind-Value="item.PaidTo" Variant="Variant.Text" /></td>
                            </tr>
                        }
                </tbody>
        </MudSimpleTable>
        <MudButton Variant="Variant.Text" OnClick="() => AddOnlineService()" Disabled="Disabled" Color="Color.Primary">Add Online Service</MudButton>
    </MudPaper>

    
    <MudButton Disabled="Disabled" Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit" FullWidth="true">Save Changes</MudButton>
    <MudText Align="Align.Center" >@Budget.BudgetId</MudText>
    
</EditForm>

