@page "/payments/{BudgetId}"

<PageTitle>@Budget.Name - Payments</PageTitle>

<div class="pa-5 ma-2 infobox">
    <MudSimpleTable Class="bg-trans" Outlined="false" Elevation="0">
        <tr>
            <td><MonthYearSelector ReturnURL="@GetReturnURL" OnSearch="@Search" /></td>
            <td class="float-end">
                <MudButton Variant="Variant.Filled" Class="float_end" OnClick="() => NavigateToBudget()" StartIcon="@Icons.Material.Filled.Folder" Color="Color.Warning">Return to Budget</MudButton>
            </td>
        </tr>
    </MudSimpleTable>
</div>




<div class="pa-5 ma-2 infobox">
<MudButton StartIcon="@Icons.Material.Filled.PostAdd" OnClick="() => NavToPayments()" Variant="Variant.Filled" Size="Size.Small" Color="Color.Primary">Insert Payment</MudButton>
<hr />
    @if (PaymentItems.Count > 0)
    {
        <MudSimpleTable Class="infobox" Outlined="false" Dense="true" Elevation="0">
            <thead>
                <tr>
                    <td style="width:100px"></td>
                    <td hidden>PaymentItemId</td>
                    <td class="text-nowrap" style="width:100px">Date</td>
                    <td>Note</td>
                    <td></td>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in PaymentItems)
                {
                    <tr>
                        <td>
                            <MudButtonGroup Color="Color.Primary" Variant="Variant.Text" OverrideStyles="false">
                                <MudIconButton OnClick="() => DeleteDocument(item)" Title="Delete Payment" Icon="@Icons.Material.Filled.Delete" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" />
                                <MudIconButton OnClick="() => EditDocument(item)" Title="Edit Payment" Icon="@Icons.Material.Filled.Edit" Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" />
                            </MudButtonGroup>
                        </td>
                        <td hidden>@item.PaymentItemId</td>
                        <td class="text-nowrap" style="width:100px">@item.CreateDate.Value.ToString("M-dd-yy")</td>
                        <td style="width:600px">@item.Note</td>
                        <td style="width:600px">
                            @if (item.Payees.Count > 0)
                            {
                                <MudPaper Width="100%" Square="false" Class="pa-1 ma-2" Outlined="true">
                                    <MudSimpleTable Class="bg-trans" Outlined="false" Elevation="0" Dense="true" Hover="true" Bordered="true">
                                        <thead>
                                            @if (item.Payees.Count > 0)
                                            {
                                                <tr>
                                                    <td hidden>PayeeId</td>
                                                    <td class="col-6">Payee</td>
                                                    <td>Date</td>
                                                    <td>Amount</td>
                                                </tr>
                                            }
                                        </thead>
                                        <tbody>
                                            @foreach (var payee in item.Payees)
                                            {
                                                <tr>
                                                    <td hidden>@payee.PayeeId</td>
                                                    <td>@payee.Name</td>
                                                    <td>@payee.Date.Value.ToString("M-dd-yy")</td>
                                                    <td>$@payee.AmountFormatted</td>
                                                </tr>
                                            }
                                            @if (item.Payees.Count > 0)
                                            {
                                                <tr>
                                                    <td colspan="2"></td>
                                                    <td><b>@Static.FormatMoney(@item.Payees.Sum(x => x.Amount))</b></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </MudSimpleTable>
                                </MudPaper>
                            }
                            else
                            {
                                <div>&nbsp</div>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </MudSimpleTable>
    }
    else
    {
        <MudText Class="pa-3">No Payments</MudText>
    }
</div>

<AccountLists AccountsList="@Budget.AccountLists" /> 